
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/MyCSSStyle/About.css" rel="stylesheet" />
<!-- sub-header section start -->
<section class="sub-header">
    <div class="sub-header-text-box">
        <h1>About us</h1>
        <p>
            Welcome to Visa Wave, your trusted eVisa application system. We are dedicated to simplifying the visa application process, providing efficient and secure services to travelers worldwide.
            <br>
            Our mission is to streamline the visa application experience, making it convenient and hassle-free for individuals and businesses alike. With our user-friendly platform, you can apply for eVisas from the comfort of your home or office, eliminating the need for time-consuming visits to embassies or consulates.
        </p>
    </div>
</section>
<!-- sub-header section end -->
<!-- about-us content section start -->
<section class="about-us">
    <div class="row">
        <div class="about-column">
            <h1>We are Visa Wave</h1>
            <p>
                Visa Wave is a leading provider of eVisa services, revolutionizing the way travelers apply for visas. With our advanced online platform, we offer a convenient and efficient solution for obtaining visas from the comfort of your home or office.
                <br>
                Our team of experts is dedicated to simplifying the visa application process, ensuring a smooth and hassle-free experience for our customers. We understand the importance of timely visa processing, and we strive to deliver fast and reliable results.
                <br>
                At Visa Wave, we value security and privacy. We utilize the latest encryption technology to safeguard your personal information and ensure secure transactions. You can trust us with your sensitive data, knowing that it is protected with the highest level of security measures.
                <br>
                Our user-friendly platform is designed to provide a seamless visa application experience. With intuitive navigation and clear instructions, you can easily complete your application in a few simple steps. Our system also allows you to track the status of your application and receive updates throughout the process.
            </p>
            <a href="" class="expolre-btn"> Explore Now</a>
        </div>
        <div class="about-column">
            <img src="~/Content/Images/about-sub-header-img.jpg" />
        </div>
    </div>
</section>
<!-- about-us content section end -->