@{
    // Set the title of the current page to "Home Page"
    ViewBag.Title = "Home Page";
}
<div>
    <!-- Importing external CSS file -->
    <link href="~/Content/MyCSSStyle/Index.css" rel="stylesheet" />

    <div class="image-container">
        <div class="image-text">
                <!-- Displaying the logo image and application system title -->
                <img src="/Content/Images/e-visa logo.png" class="logo-image" />
                <h1>
                    Visa wave
                </h1>
            <!-- Adding a line break and a horizontal line -->
            <br class="line" />
            <div class="white-line"></div>

            <!-- Displaying a paragraph with the description -->
            <p style="font-size: 20px">Online visas and travel authorizations</p>
        </div>
    </div>
</div>